<div class="footer">
  <nav class="f-nav-list f-nav-list-main">
    <h4>Pages</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/works.html">Works</a></li>
      <li><a href="/paletopia.html">Paletopia</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>
  </nav>
  <nav class="f-nav-list f-nav-list-sub">
    <h4>Follow</h4>
    <ul class="follow-me">
      <li><a href="https://twitter.com/PANMry_official" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/panmry__/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="https://www.youtube.com/@mikorush2001" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
  </nav>
</div>