<div class="header">
  <div class="header__inner">
    <a href="/" class="header__logo"><span>PANMry</span><span>Works</span></a>

    <button class="hamburger" id="js-hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <nav class="nav-menu" id="js-nav-menu">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/works.html">WORKS</a></li>
        <li><a href="/paletopia.html">PALETOPIA</a></li>
        <li><a href="/contact.html">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</div>